body {
    font-family: Arial;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 3px 0 20px 0;
}

.registerbtn {
    background-color: darkslategrey;
    color: white;
    padding: 20px 24px;
    border: none;
    width: 100%;
  }

* {
    box-sizing: border-box;
}
.header {
    background-image: url("../images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    text-align: center;
}
.main {
    background-color: lightgray;
    padding: 20px;
    overflow: auto; 
}
.footer {
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}    

flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}