.navBar {
    display: block;
    position: relative;
    top: 22px;
    width: 100%;
}

.navBar a {
  display: inline;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;
}

.navBar a:hover {
  background-color: gray;
  color: black;
}

.navBar a.active {
  background-color: black;
  color: gray;
}
